<div class="jumbotron jumbotron-fluid text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">
    Welcome to custom MEAN authentication app built form scratch
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Log in</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Back-end</h3>
    <p>Used to creat a common rest api</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Makes using anuglar much easier</p>
  </div>
  <div class="col-md-4">
    <h3>JWT tokens</h3>
    <p>Used to identify and authenticate users</p>
  </div>
</div>